#Servicios{
    text-align: center;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;


}
#Servicios div{
   justify-content: center;
   align-items: center;
    display: grid;
    grid-template-columns: 28% 28%  28%;
}
.card {
    width: 80%;
    height: 500px;
    padding: 10px;
    text-align: left;
    color: white;
    border-radius: 15px;
    transition: 0.2s;
    margin-bottom: 20px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.288);
}
.card img{
    width: auto;
    height: 200px;
}
.card:hover{
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.466);
    width: 81%;
    height: 503px;
    cursor: pointer;

}
.card p{
    text-align: left;
}
@media (max-width:1200px){
    #Servicios div{
        grid-template-columns: 45% 45%;
    }
}
@media (max-width:772px){
    #Servicios div{
        grid-template-columns: 80%;
    }
    .card{
        width: 93%;
        text-align: center;
    }
    .card p{
        text-align: center;
    }
    .card:hover{
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.466);
        width: 94%;
        height: 503px;
        cursor: pointer;
    
    }
}
@media (max-width:550px){
    #Servicios div{
        grid-template-columns: 98%;
    }
}
@media (max-width:724px){
    #Servicios{
        height:250vh;
    }
    
}